html {
  cursor: url(../Assets/Cursor/cursor.ani), url(../Assets/Cursor/cursor.gif), default;
}
html:active {
  cursor: url(../Assets/Cursor/cursor_hover.ani), url(../Assets/Cursor/cursor_active.gif), default;
}

input:hover {
  cursor: url(../Assets/Cursor/cursor_hover.ani), url(../Assets/Cursor/cursor_hover.gif), pointer;
}

.input:hover {
  cursor: url(../Assets/Cursor/cursor_hover.ani), url(../Assets/Cursor/cursor_hover.gif), pointer;
}

button:hover {
  cursor: url(../Assets/Cursor/cursor_hover.ani), url(../Assets/Cursor/cursor_hover.gif), pointer;
}
button .fa-arrow-up,.fa-arrow-left {
  color: white;
}
button {
  background-color: rgba(0, 0, 0, 0.714);
  box-shadow: inset 0 4px 5px rgba(255, 255, 255, 0.408);
  border-radius: 8px;
}


.maplestory-container {
  width: 280px;
  background: rgba(0, 0, 0, 0.85);
  margin: 5px auto;
  min-height: 100px;
  border: 5px double  rgba(255, 255, 255, 0.48);
  border-radius: 10px;
  box-shadow: inset 0 4px 5px rgba(255, 255, 255, 0.408);
  position: relative;
}

.maplestory-title {
  font-size: 12px;
  font-weight: bold;
  font-family: arial;
  -webkit-text-stroke: .6px black; /* width and color */
  /* text-shadow: -0px 3px 10px rgba(255, 255, 255, 0.61),2px 0 8px #FFF; */
  padding: 0px 10px;
  color: rgb(255, 208, 0);
  text-align: center;
  /* box-shadow: inset 0 0 84px rgba(0, 0, 0, 0.43); */
  /* background: url("https://cdn4.iconfinder.com/data/icons/seed-png/program_group.png") no-repeat 1% 85%; */
  /* background-size: 24px; */
}

/* .maplestory-main {
  padding:10px;
  border:1px solid #000;
  margin:5px;
  background-color: white;
} */

.maplestory-main {
  background: rgb(255, 255, 255);
  border: 3px solid  rgba(83, 83, 83, 0.48);;
  border-radius: 10px;
  /* box-shadow: inset 0 0 84px rgba(0, 0, 0, 0.43); */
}

.maplestory-button {
  padding-left: -15px;
}

/* .row {
  padding: 0.7rem;
} */

.fa-times {
  color: white;
  font-size: 16px;
}

.maplestory-item {
  
}
.maplestory-item-title {
  color: white;
  font-size: large;
  font-weight: bold;
}

.maplestor-item-background {
  background-color: gray;
  border-radius: 10px;
}
